body{
    background:#000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main{
    width: 350px;
    height: 250px;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#code{
    font-size:3rem;
    margin-bottom:2opx;
}
.main button{
    padding: 1Opx 20px;
    font-size:1.1rem;
    border:none;
    background: #1687a7 ;
}